$white: #fff;

$dark-grey: #242d38;
$medium-grey: #8c8d91;
$light-grey: #ececf1;

$dark-blue: #304c70;

$orange-primary: #e4871b;

$green-bookmark: #338473;
$red-heart: #d25746;

$text-grey: #49494f;
$text-light-grey: #a3a3a8;
$text-light-blue: #7598c4;
