// Colors

$white: #fff;
$background: #ececf1;

$dark-grey: #242d38;
$medium-grey: #8c8d91;
$light-grey: #dddedf;
$lighter-grey: #f5f5f7;

$dark-blue: #304c70;
$light-blue: #7598c4;

$orange-primary: #e4871b;

$green-bookmark: #338473;
$red-heart: #d25746;

$text-grey: #49494f;
$text-light-grey: #a3a3a8;
$text-light-blue: #7598c4;

// Layout breakipoints

$layout-breakpoint-medium: 1024px;
$layout-breakpoint-small: 768px;

$text-size-breakpoint: 970px;

// Grid gap

$grid-gap: 24px;
$grid-gap-small: 18px;
