@import "@/styles/base";

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: $grid-gap;
  color: $text-grey;
  font-size: $font-weight-bolder;
  font-weight: $font-weight-bolder;

  .content-top {
    display: flex;
    justify-content: space-between;

    .content-tabs {
      display: flex;
      gap: 30px;

      button {
        border: none;
        background-color: transparent;
        color: $medium-grey;
        font-weight: $font-weight-bolder;
        font-size: $text-large;
        cursor: pointer;

        &.active,
        &:hover {
          color: $orange-primary;
        }
      }
    }

    .content-filter {
      position: relative;
      line-height: 17.6px;

      & > :first-child {
        & > :first-child {
          font-size: $text-small;
        }
        & > :nth-child(2) {
          cursor: pointer;
        }
        display: flex;
        gap: 12px;
      }
      & > :nth-child(2) {
        display: none;
      }

      @media (max-width: $layout-breakpoint-medium) {
        & > :first-child {
          display: none;
        }
        & > :nth-child(2) {
          display: block;
          cursor: pointer;
        }
      }

      .visibility-filter {
        position: absolute;
        top: 25px;
        right: 0px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        button {
          background-color: $white;
          width: 100%;
          display: flex;
          align-items: center;
          padding: 12px 12px;
          color: $text-grey;
          font-weight: $font-weight-bold;
          border: 0;
          cursor: pointer;

          &:hover {
            background-color: $lighter-grey;
          }
        }
      }
    }
  }

  .content-posts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .content-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: $dark-blue;
    & > :first-child {
      animation: spin 1s linear infinite;
    }
    h3 {
      color: $medium-grey;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
