@import "@/styles/base";

.side-bar {
  display: flex;
  flex-direction: column;
  padding: 40px;
  z-index: 5;

  @media (max-width: $layout-breakpoint-small) {
    padding: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .side-bar-logo {
    & > :first-child {
      display: flex;
      width: 100%;
    }
    & > :last-child {
      display: none;
    }
    @media (max-width: $layout-breakpoint-small) {
      & > :first-child {
        display: none;
      }

      & > :last-child {
        display: flex;
        height: 55px;
        padding: 13px $grid-gap-small;
      }
    }
  }

  .side-bar-options {
    & > :first-child {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-top: 75px;
    }

    & > :last-child {
      display: none;
    }

    @media (max-width: $layout-breakpoint-small) {
      & > :first-child {
        display: none;
      }
      & > :last-child {
        display: flex;
        gap: 12px;
        margin-right: $grid-gap;
      }
    }
  }
}
