@import "@/styles/base";

// Menu : Hide / Improve my feed

.more-options {
  position: absolute;
  bottom: 20px;
  right: -100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  @media (max-width: $layout-breakpoint-small) {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
  button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 12px;
    p {
      white-space: nowrap;
      color: $text-grey;
      font-weight: $font-weight-normal;
      font-size: $text-large;
    }
    &:hover {
      background-color: $lighter-grey;
    }
  }
}

// Hide options CONTAINER

.hide-options-container {
  position: absolute;
  @media (max-width: $layout-breakpoint-small) {
    width: 100%;
  }

  // Hide options

  .hide-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: $text-grey;
    background-color: $white;
    width: 290px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    @media (max-width: $layout-breakpoint-small) {
      width: 100%;
    }

    h3 {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 100%;
      background-color: #f0f0f1;
      font-weight: $font-weight-normal;
      font-size: $text-large;
      line-height: 20px;
      color: $text-grey;
      padding: 12px 18px;
      & > :first-child {
        cursor: pointer;
      }
    }

    .hide-options-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 18px;

      div {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 8px;

        input[type="radio"] {
          appearance: none;
          min-width: 16px;
          min-height: 16px;
          border: 2px solid $text-grey;
          border-radius: 50%;
          margin-top: 2px;
          cursor: pointer;
        }
        input[type="radio"]:checked {
          outline: 2px solid white;
          outline-offset: -4px;
          background-color: $medium-grey;
        }
      }

      label {
        font-size: 14.7px;
        text-align: left;
        font-weight: $font-weight-normal;
      }
      button {
        color: $text-light-grey;
        padding: 12px;
        font-size: 12px;
        border: 1px solid $light-grey;
        display: flex;
        justify-content: center;
        &:hover {
          background-color: $lighter-grey;
        }
      }
    }
  }
}
